.wrap {
    width: 900px;
    border: 1px solid #000;
    font: 14px/28px "ו";
    color: #000;
    text-indent: 2em;
    -webkit-column-count: 6;
    -webkit-column-gap:10px;
    -webkit-column-rule: 1px solid black;
}